
# This file needs to be executed by vendor_init at boot of the device,
# both in normal and factory mode.

on early-boot
	# Change ownership and permision of st nfc device
	chown nfc nfc /dev/st21nfc
	chmod 0660 /dev/st21nfc

on property:ro.vendor.hw.nfc=true
	start vendor.st_nfc_hal_service

on property:ro.vendor.hw.nfc=st
	setprop persist.vendor.nfc.config_file_name libnfc-hal-st.conf
	start vendor.st_nfc_hal_service

service vendor.st_nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.st
	override
	class hal
	user nfc
	group nfc
	disabled
