<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023 ArrowOS
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arrow.dubaicameraservice"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA_OPEN_CLOSE_LISTENER" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="com.qualcomm.permission.USE_QCRIL_MSG_TUNNEL" />

    <application
        android:label="DubaiCameraService"
        android:persistent="true">

        <receiver
            android:name=".BootReceiver"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".DubaiCameraService"
            android:permission="DubaiCameraService"
            android:exported="false">
        </service>

    </application>

</manifest>
